.page_layout_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 2rem;
  text-align: center;
  background-color: #121213;
  color: white;
}
